@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hack Nerd Mono";
  src: url("./assets/fonts/HackNerdFontMono-Regular.ttf");
}

html {
  scroll-behavior: smooth;
}
